<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="PresentationFramework" version="4.6.0" targetFramework="net47" />
  <package id="Scar.Common.MVVM.Commands" version="1.0.7021.22562" targetFramework="net47" />
  <package id="Scar.Common.MVVM.ViewModel" version="1.0.7021.23060" targetFramework="net47" />
  <package id="Scar.Common.RateLimiter" version="1.0.7016.37702" targetFramework="net47" />
  <package id="Scar.Common.View.Contracts" version="1.0.7016.37709" targetFramework="net47" />
  <package id="Scar.Common.WPF.View" version="1.0.6812.21943" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.7016.37974" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
</packages>